@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');
*{
  margin: 0;
  padding : 0;
  text-decoration: none;
  list-style: none ;
}
body {
 
  font-family: "Montserrat", sans-serif;
  }

  header {
    height: 100vh;
    width: 100vw;
    background-image:url(Image/1.jpg) ;
    background-size: cover;
  }
.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  box-sizing: border-box;
}
.navbar a{
  color: rgb(255, 255, 255);
}
.navbar .logo{
  font-size: 2em;
font-weight: bold;
}
.navbar .nav-links ul{
  display: flex;
}
.navbar .nav-links ul li{
  margin: 0 25px;
}
.navbar .nav-links ul li.active a{
  color: rgb(255, 68, 0);
  font-weight: 600;
}
.navbar .menu-hamburger{
  display: none;
  position: absolute;
  width: 50px;
  top: 50px;
  right: 50px;
}

.page-contact {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
}

.page-contact h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.page-contact p {
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

form {
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

form .corps-formulaire .groupe {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form .corps-formulaire label {
  margin-bottom: 5px;
  font-weight: 500;
}

form .corps-formulaire input,
form .corps-formulaire textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: orange;
  font-size: 1rem;
}

form .corps-formulaire textarea {
  resize: vertical;
  min-height: 120px;
}

.pied-formulaire {
  text-align: center;
}

.pied-formulaire button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.pied-formulaire button:hover {
  transform: scale(1.05);
}

/* Responsive */
@media screen and (max-width: 600px) {
  .page-contact {
    margin: 40px 20px;
  }
}

@media screen and (max-width: 920px) {
  .navbar {
 padding: 0;
  }
  .navbar .menu-hamburger {
    display: block;
    font-size: 30px;
  
  
  }
  .navbar .logo{
    position: absolute;
    top: 50px;
    left: 50px;
}
  .nav-links {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.399);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .nav-links.mobile-menu {
    margin-left: 0;
   }

.nav-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .nav-links ul li{
  margin: 25px 0;
  font-size: 1.2em ;
}
}


form .corps-formulaire .droite {
  margin-left: 0px;
  }
  
